h1 {
    margin-bottom: 20px;
    font-weight: bolder;
}

p {
    font-weight: bold;
}

#timeEl {
    float: right;
}

#quiz-landing {
    position: fixed;
    top: 15%;
    left: 35%;
    /* width: auto; */
}

#questions {
    position: fixed;
    top: 15%;
    left: 35%;
    display: inline-block;
    /* width: auto; */
}

.correct-wrong {
    position: fixed;
    top: 45%;
    left: 35%;
    font-size: x-large;
    display: none;
}

#submission {
    position: fixed;
    top: 25%;
    left: 35%;
    display: none;
    width: auto;
}

.line-up {
    float: left;
    width: auto;
    margin-right: 10px;
}