h1 {
    margin-bottom: 20px;
    font-weight: bolder;
}

#instructions {
    font-weight: bold;
}

#timer {
    float: right;
}

#quiz-landing {
    position: fixed;
    top: 25%;
    left: 35%;
    width: auto;
}

#questions {
    position: fixed;
    top: 25%;
    left: 35%;
    width: auto;
}