h1 {
    margin-bottom: 20px;
    font-weight: bolder;
}

p {
    font-weight: bold;
}

#timeEl {
    float: right;
}

#quiz-landing {
    position: fixed;
    top: 15%;
    left: 35%;
    /* width: auto; */
}

#questions {
    position: fixed;
    top: 15%;
    left: 35%;
    display: inline-block;
    /* width: auto; */
}

#correct {
    display: none;
}

#wrong {
    display: none;
}